#info{
    margin:auto;
    padding: 140px 0 80px 0;
}

.articlesContainer{
    min-height: 400px;
    margin: auto;
    max-width: 73rem;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    background-color: white;

    @media (min-width:$mid-screen) {
        flex-direction: row;
    }
    .shadow{
        position:absolute;
        top: 2.3rem;
        left: 0;
        z-index: -1;

        height: 100%;
        width: 100%;
    
        background-color: $secondary;
        opacity: 0.9;
        
        @media (min-width:$mid-screen) {
            left: calc(50% + 2.5rem);
            width: 50%;
        }
    }

    article{
        h3{
            margin: 20px auto;
            font-size: 2rem;
            letter-spacing: 0.2rem;
            span{
                overflow-wrap: break-word;
            }
        }
        p{
            font-size: 1rem;
            max-width: 300px;
        }
        padding: 50px;
    }
}